@use 'variables';
@use 'products';
@use 'cart';
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // outline: 1px solid red;
}
body{
    background-color: variables.$gray;
}
nav{
    background-color: variables.$pink;
    .container-fluid{
        gap: 60%;
        .nav-brand{
            color: variables.$white;
            text-decoration: none;
            font-size: 1.4rem;
            font-family: monospace;
        }
        .collapse{
            .nav-link{
                color: variables.$white;
                transition: all .5s ease-in-out;
                &:hover{
                    color: variables.$black;
                }
                &:last-child{
                    &:hover{
                        // color: darken(variables.$white, $amount: 3);
                        color: red;
                    }
                }
            }
        }
        .dropdown{
            display: flex;
            transition: all 1s ease-in-out;
            align-items: center;
            flex-direction: column;
            .nav-link{
                cursor: pointer;
            }
            .content{
                display: none;
                position: absolute;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 10rem;
                height: 6.5rem;
                top: 3rem;
                background-color: darken($color: #f8e3e8, $amount: 4%);
                p{
                    text-align: center;
                    width: 100%;
                    height: 2rem;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: variables.$pink;
                    }
                    &:hover{
                       a{
                            color: #5e2195;
                        } 
                        
                        background-color: #f8e3e8;
                    }
                }
                form{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 2rem;
                    justify-content: center;
                    p{
                        text-align: center;
                    }
                    &:hover{
                        background-color: #f8e3e8;
                        // color: #5e2195;
                    }
                }
            }
        }
    }
}
main{
    height: 100vh;
    background-image: url('../images/home-bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        color: variables.$pink;
        font-family: monospace;
        text-transform: capitalize;
        font-size: 4rem;
        letter-spacing: 0px;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 3s steps(40) infinite;
    }
    button{
        width: 10rem;
        height: 3rem;
        background-color: #1a2037;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 1rem;
        margin-top: 2rem;
        transition: all .5s ease-in-out;
        &:hover{
            background-color: darken($color: #1a2037, $amount: 10%);
        }
        &:focus{
            background-color: darken($color: #1a2037, $amount: 20%);
            outline: 1px solid #5e2195;
        }
    }
}
.create{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: variables.$gray;
    form{
        padding: 2rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 18px;
        box-shadow: 100px 100px 80px rgba(0, 0, 0, 0);
        button{
            width: 10rem;
            height: 3rem;
            background-color: #1a2037;
            color: #fff;
            border: none;
            text-transform: uppercase;
            font-size: 1rem;
            border-radius: 1rem;
            margin-top: 2rem;
            transition: all .5s ease-in-out;
            &:hover{
                background-color: darken($color: #1a2037, $amount: 10%);
            }
            &:focus{
                background-color: darken($color: #1a2037, $amount: 20%);
                outline: 1px solid #5e2195;
            }
        }
    }
}

// @keyframes typing {
//     10% {
//       opacity: 0;
//     }
//     20% {
//       opacity: 1;
//     }
//     30% {
//       opacity: 0;
//     }
//     40% {
//       opacity: 1;
//     }
//     50% {
//       opacity: 0;
//     }
//     60% {
//       opacity: 1;
//     }
//     70% {
//       opacity: 0;
//     }
//     80% {
//       opacity: 1;
//     }
//     90% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//     }
//   }\

@media screen and (max-width: 767px) {
    main{
        h1{
            font-size: 3rem;
        }
    }
    .products{
        .container{
            align-self: center;
            grid-template-columns: repeat(2, 1fr);
            div{
                width: 17rem;
                img{
                    width: 17rem;
                }
            }
        }
    }
}